body {
  color: #EFEFEF;
  background-color: #202020;
    margin: 65px 0;
}
.camera img {
  width: 100%;
}
.logo {
    position: absolute;
    top: 5px;
    left: 75px;
    width: 35px;
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
/* Hide default HTML checkbox */
.switch input {
  display: none;
}
/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked+.slider {
  background-color: hsl(96, 100%, 39%);
}
input:focus+.slider {
  box-shadow: 0 0 1px hsl(96, 100%, 39%);
}
input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
.navbar-inverse {
  background-color: hsl(192, 97%, 49%);
  text-shadow: 1px 1px hsl(197, 96%, 10%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /*-webkit-box-shadow: 0 8px 6px -6px #000;
  -moz-box-shadow: 0 8px 6px -6px #000;
  box-shadow: 0 8px 6px -6px #000;*/
}
.blue {
  color: hsl(192, 97%, 49%);
}
h1, h2, h3 {
  text-shadow: 1px 1px #000;
}
